.App {
  text-align: center;
}


.blog-pic{
width: 30%;
height: auto;

}



.post-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}