.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    margin: 10px;
    border: solid black;
}


.textarea-new-post{
    border:solid black;
}