.post-detail-container{
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    
    
  }
  
  .post-detail-container .card{
    align-items: center;
    margin-top: 100px;
  }
  
  
  .card-body button{
  margin:0px 10px 0px 10px;
  }



.edit-form-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  
    margin-top: 100px;
    color: white;
  
  }

  .edit-form-container input{
    margin: 0px 0px 10px 0px;
    border: solid #343a40;
    border-width: 1px;

  }


  .edit-submit-btn{
      margin-top: 40px;
  }